body {
    font-family: sans-serif;
    width:300px;
    height: calc(420px);
    line-height: 1.3;
    position: relative;
    color: var(--text);
    background-color: var(--page-bg);
    font-size: 100%;
}

*::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--page-bg);        
}

::-webkit-scrollbar-thumb {
    background: var(--divider);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #babfc5;
}

#icon-clear-a-container::before {
    top: -1.05rem;
    bottom: 0.2rem;
}